<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    <h1>Расписания</h1>

    <h2>Добавить новое событие</h2>
    <form method="POST">
        {% csrf_token %}
        {{ event_form.as_p }}
        <select name="schedule_id">
            {% for schedule in schedules %}
                <option value="{{ schedule.id }}">{{ schedule.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Добавить событие</button>
    </form>

    <h2>Существующие расписания</h2>
    <ul>
        {% for schedule in schedules %}
            <li>
                <a href="{% url 'schedule_detail' schedule.id %}">{{schedule.name}}</a> - Пароль: {{schedule.password}} (не показывать пользователям!)
            </li>
        {% endfor %}
    </ul>

    <h2>Создать новое расписание</h2>
    <a href="{% url 'create_schedule' %}">Создать расписание</a>
</body>
</html>